<!-- TODO: make it a reusable directive (don't worry about style) -->
<div class="pagination">
    <div>
        Items per page        
        <select ng-model="numPerPage" ng-change="setPage(1)">
            <!-- select how many items should be displayed per page -->
            <option value="10">10</option>
            <option value="20">20</option> <!-- default option on first load should be 20 -->
            <option value="30">30</option>
            <option value="0">all</option> <!-- disregard pagination: show all the items -->
        </select>
    </div>
    <div>
        <button ng-click="setPage(1)">&lt;&lt;</button> <!-- 'go to first page' button -->
        <button ng-click="setPage(currentPage - 1)" ng-disabled="currentPage == 1">&lt;</button> <!-- 'go to previous page' button: can't go lower than 1 -->
        
        Page <input type="number" ng-model="currentPage" min="1" max="{{totalPages}}"/> <!-- input to select page to go to: go to page when input changes value --> of {{totalPages}} <!-- number of pages -->

        <button ng-click="setPage(currentPage + 1)" ng-disabled="currentPage == totalPages">&gt;</button> <!-- 'go to next page' button: can't go higher than last page number -->
        <button ng-click="setPage(totalPages)">&gt;&gt;</button> <!-- 'go to last page' button -->
    </div>
    <div>
        <span>{{totalItems}} items</span> <!-- total number of items -->
    </div>

</div>